fastapi
uvicorn[standard]

sqlalchemy
psycopg[binary]
asyncpg
redis

alembic

pydantic


python-dotenv

python-jose[cryptography]
passlib[bcrypt]
pwdlib[argon2]
pydantic-settings
email-validator
pytest
httpx
python-multipart